{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
</head>

<body>
<div class="upper">
    <a href="/"><h1 style="color: white; margin: auto; padding-top: 30px; padding-left: 30px; font-family: Arial, sans-serif;">Charger</h1></a>
</div>
<div id="map"></div>

{# {% include 'filter/index.html.twig' %} #}

<div class="location">
    <h1 id="loc">Location name is: </h1>
    <p id="lat">Latitude: </p>
    <p id="lon">Longitude: </p>
    <p id="spots">Total spots: </p>
</div>

<script>
    let map = GenerateMap();

    {% for location in locations %}
        PlaceMarkersMap(map, {{ location.getLongitude }}, {{ location.getLatitude }}, "{{ location.getName }}", {{ location.getTotalSpots }});
    {% endfor %}
</script>
</body>

{% endblock %}
