{% extends 'base.html.twig' %}

{% block title %}Hello FilterController!{% endblock %}

{% block body %}
    <div class="wrapper" style="width: 60vw;">

        {{ form(form) }}

    </div>
{% endblock %}
