{% extends 'base.html.twig' %}

{% block body %}
    <head>
        <title>Register</title>
    </head>

    {% include 'nav/index.html.twig' %}

    <div class="container mb-md-4 mt-md-4" style="min-height: 60vh;">
        <h1>Register</h1>

        {{ form(form) }}

        <p>Already have an account? <a href="/login">Login</a></p>

    </div>

    {% include 'footer/index.html.twig' %}

{% endblock %}
