{% extends 'base.html.twig' %}

{% block body %}
    <head>
        <title>Login</title>
    </head>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="location">

    <h1>Login</h1>

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>

        <input type="hidden" name="_target_path" value="/"/>
        <br>
        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="/register">Register</a></p>

    </div>
{% endblock %}