{% extends 'base.html.twig' %}

{% block body %}
    <head>
        <title>Booking</title>
    </head>

    {% include 'nav/index.html.twig' %}

    <div class="container mb-md-4 mt-md-4" style="min-height: 60vh;">
        <h1>Booking for location ID: {{ booking_id }}</h1>

        {{ form(form) }}

    </div>

    {% include 'footer/index.html.twig' %}

{% endblock %}
