{% extends 'base.html.twig' %}

{% block body %}
    <head>
        <title>Edit booking</title>
    </head>

    {% include 'nav/index.html.twig' %}

    <div class="container mb-md-4 mt-md-4" style="min-height: 60vh;">
        <h1>Editing booking ID: {{ booking_id }}</h1>
        {{ form(form) }}
    </div>

    {% include 'footer/index.html.twig' %}

{% endblock %}
