<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <link href="{{ asset('assets/styles/app.css') }}" rel="stylesheet"/>
        <script src="{{ asset('assets/app.js') }}"></script>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <!-- @TODO RUN THIS: npm run build -->
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
